.form-group{
    gap: 8px;
    width: 100%;
}

.form-group input,
.form-group select {
    display: flex;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 8px;
    width: 100%;
}

textarea{
    height: 75px;
}

.input-count{
    width: 64px;
}

.part-label-row{
    width: 100%;
}

thead th:last-child {
    border-radius: 0 8px 0 0;
}

thead th:first-child {
    border-radius: 8px 0 0 0;
}

.styled-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}

.styled-table tbody tr:last-child td:last-child {
    border-radius:  0 0 8px 0;
}

.title-label{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: bold;
}