thead th:last-child {
    border-radius: 0 8px 0 0;
}

thead th:first-child {
    border-radius: 8px 0 0 0;
}


/* Cibler la première cellule de la dernière ligne */
.styled-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}

/* Cibler la dernière cellule de la dernière ligne */
.styled-table tbody tr:last-child td:last-child {
    border-radius:  0 0 8px 0;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.04) 0 4px 6px;
}

.sortable-column{
    display: flex;
    align-items: center;
    cursor: pointer;
}

thead th:last-child {
    border-radius: 0 8px 0 0;
}

thead th:first-child {
    border-radius: 8px 0 0 0;
}


/* Cibler la première cellule de la dernière ligne */
.styled-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}

/* Cibler la dernière cellule de la dernière ligne */
.styled-table tbody tr:last-child td:last-child {
    border-radius:  0 0 8px 0;
}

.styled-table thead tr {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 8px
}

.styled-table tbody tr {
    border-top: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#column-select{
    margin-left: 4px;
}

.type-badge {
    font-size: 14px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 8px;
    color: #ffffff;
}

.type-checkbox {
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.cat label input {
    position: absolute;
    display: none;
    color: #fff !important;
}

.cat span{
    user-select: none;
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 2px #E0E0E0;
    background: #ffffff;
    transition: background-color 0.3s ease;
}

.cat input:checked + span {
    color: #ffffff;
}

.raw input:checked + span {
    background-color: #f7f1c4;
    color: #8c8c39;
}

.bought input:checked + span {
    background-color: #c4e5f7;
    color: #396c8c;
}

.intermediate input:checked + span {
    background-color: #f7d9c4;
    color: #8c6239;
}

.deliverable input:checked + span {
    background-color: #c4f7c4;
    color: #398c39;
}

.table-top-bar{
    display: flex;
    justify-content: space-between;
}

.table-bottom-bar{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.pagination-link{
    margin: 0 8px;
    text-decoration: underline;
    user-select: none;
}

.page-active{
    width: auto;
    border-radius: 8px;
    border: solid 2px #E0E0E0;
    color: #000000;
    background: #ffffff;
    font-size: 16px;
    padding: 0 16px 0 16px;
    user-select: none;
    text-decoration: none;
    margin: 0 4px ;
}
.page-active:hover{
    cursor: auto;
}

.clickable-row:hover{
    background: rgba(130, 130, 130, 0.2)!important;
    cursor: pointer;
}