body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7F7F7;
}

button{
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span{
  font-weight: 500;
  user-select: none;
}

a{
  font-weight: 500;
}

input{
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select{
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea{
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, monospace;
}
