body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: medium;
  font-weight: 16;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7F7F7;
}

button{
  font-family: Inter, sans-serif;
  font-size: medium;
  font-weight: 16;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEEEEE;
}

code {
  font-family: source-code-pro, monospace;
}
