.btn-light {
    height: 40px;
    width: auto;
    border-radius: 8px;
    background: #EEEEEE;
    color: #000000;
    border: solid 0;
    padding: 0 16px 0 16px;
    user-select: none;
}

.btn-dark {
    height: 40px;
    width: auto;
    border-radius: 8px;
    background: #000000;
    color: #ffffff;
    border: solid 0;
    padding: 0 16px 0 16px;
    user-select: none;
}

.btn-color {
    height: 37.5px;
    width: auto;
    border-radius: 8px;
    background: #CA0610;
    color: #ffffff;
    border: solid 0;
    padding: 0 16px 0 16px;
    user-select: none;
    white-space: nowrap;

}

.btn-white{
    height: 36px;
    width: auto;
    border-radius: 8px;
    border: solid 2px #E0E0E0;
    color: #000000;
    background: #ffffff;
    font-size: 16px;
    padding: 0 16px 0 16px;
    user-select: none;
}

.btn-light:hover {
    background: #CCCCCC;
    cursor: pointer;
}

.btn-dark:hover {
    background: #333333;
    cursor: pointer;
}

.btn-color:hover {
    background: #a1060e;
    cursor: pointer;
}

.content {
    margin-left: 70px;
    margin-top: 10px;
}

.card {
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    padding: 16px;
    width: auto;
    flex-direction: column;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.04) 0 4px 6px;
}

.card-fit {
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    padding: 16px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0 4px 6px;
}

.card-left {
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    padding: 16px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    box-shadow: rgba(0, 0, 0, 0.04) 0 4px 6px;
}

.card-alert {
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: calc(100% - 31px);
    margin-bottom: 8px;
}

table {
    border-collapse: collapse;
    border-radius: 8px;
    border-style: hidden;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.table-container{
    margin: 24px;
}

label{
    white-space: nowrap;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group{
    gap: 8px;
    width: 100%;
    margin-bottom: 12px;
}

.button-group {
    display: flex;
    gap: 8px;
    width: 100%;
}

.form-group input,
.form-group textarea,
.form-group select {
    display: flex;
    width: 100%;
}

.form-group label {
    display: block;
    margin-right: 4px;
}

input {
    border-radius: 8px;
    border: solid 2px #E0E0E0;
    height: 32px;
    font-size: 16px;
}

textarea {
    border-radius: 8px;
    border: solid 2px #E0E0E0;
    height: 32px;
    font-size: 16px;
}

select {
    border-radius: 8px;
    border: solid 2px #E0E0E0;
    height: 38px;
    font-size: 16px;
}

a {
    color: #CA0610;
}
a:hover{
    cursor: pointer;
}

hr.solid {
    border-top: 3px solid #EEEEEE;
}