
.select-search-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
}


.select-search-container {
    --select-search-background: #fff;
    --select-search-border: #dedede;
    --select-search-selected: #9b9b9b;
    --select-search-text: #000;
    --select-search-subtle-text: #000000;
    --select-search-highlight: #eff1f5;
}

.select-search-container *,
.select-search-container *::after,
.select-search-container *::before {
    box-sizing: inherit;
}

.select-search-input {
    position: relative;
    display: block;
    width: 100%;
    -webkit-appearance: none;
}

.select-search-is-multiple .select-search-input {
    margin-bottom: -2px;
}

.select-search-is-multiple .select-search-input {
    border-radius: 3px 3px 0 0;
}

.select-search-input::-webkit-search-decoration,
.select-search-input::-webkit-search-cancel-button,
.select-search-input::-webkit-search-results-button,
.select-search-input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.select-search-input[readonly] {
    cursor: pointer;
}

.select-search-is-disabled .select-search-input {
    cursor: not-allowed;
}

.select-search-container:not(.select-search-is-disabled).select-search-has-focus .select-search-input,
.select-search-container:not(.select-search-is-disabled) .select-search-input:hover {
    border-color: #E0E0E0;
}

.select-search-select {
    background: var(--select-search-background);
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    border: solid 2px #E0E0E0;
    overflow: auto;
    max-height: 360px;
    padding: 2px 0;
}

.select-search-container:not(.select-search-is-multiple) .select-search-select {
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    border-radius: 8px;
    display: none;
    z-index: 10;
}

.select-search-container:not(.select-search-is-multiple).select-search-has-focus .select-search-select {
    display: block;

}

.select-search-has-focus .select-search-select {
    border-color: #E0E0E0;
}

.select-search-options {
    list-style: none;
    padding-inline-start:0;
    margin: 0;
}

.select-search-option,
.select-search-not-found {
    display: block;
    height: 42px;
    width: 100%;
    padding: 0 16px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.01rem;
    cursor: pointer;
    background: #ffffff;
    border: solid 0
}

.select-search-option:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: transparent !important;
}

.select-search-is-highlighted,
.select-search-option:not(.select-search-is-selected):hover {
    background: #E0E0E0;
}

.select-search-is-selected:hover {
    background: #E0E0E0;
}

.select-search-group-header {
    font-size: 12px;
    text-transform: uppercase;
    background: #ffffff;
    color: #000000;
    letter-spacing: 0.1rem;
    padding: 10px 16px;
}

.select-search-row:not(:first-child) .select-search-group-header {
    margin-top: 10px;
}

.select-search-row:not(:last-child) .select-search-group-header {
    margin-bottom: 10px;
}
